#login_form {
  box-shadow: 1vw 0.3vw .7vw black;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height:20vh;
  padding: 4vw;
  justify-content: space-around;
  margin: 12vw 0 0 5vw;
}

#login_form label,
#login_form input,
#login_form h1 {
  font-size: 3vw;
}

#login_form input {
  border-width: .2vw;
}
